@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

/* Quitar flechas del input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: url(../IMG/fondo6.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25em;
    height: 33em;
    padding: 1.5em;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .8);
    border-radius: 25px;
}

#header h1 {
    text-align: center;
    font-family: "Lora", serif;
    color: rgba(0, 0, 0, 0.6);
}

.form-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .8);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

form {
    display: flex;
    margin: 40px;
    flex-direction: column;
    align-items: center;
}

.heading h2 {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.inputbox {
    position: relative;
    margin: 30px 0;
    margin-bottom: 12px;
    width: 310px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -8px;
}

.inputbox input {
    width: 85%;
    height: 2.5em;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: rgba(0, 0, 0, 0.6);
}

.inputbox i {
    position: absolute;
    right: 8px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    top: 14px;
}

.numero {
    font-size: .9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

button {
    margin-top: 12px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(0, 0, 0, 0.2);
    outline-offset: 0px;
    text-shadow: none;
    width: 60%;
    height: 40px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    transition: .3s;
}

button:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .0), 0 0 10px rgba(0, 0, 0, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    transform: scale(1.05);

}

.register {
    font-size: .9em;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 35px 0 10px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.register p {
    margin-top: 1em;
}

.register p a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 800;
    font-size: large;
    font-family: "Lora", serif;
    cursor: pointer;
}

.register p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #background {
        width: 20em;
        height: 27em;
        border-radius: 20px;
    }

    #header h1 {
        font-size: 2em;
    }

    .form-box {
        border-radius: 15px;
    }

    form {
        margin: 30px;
    }

    .heading h2 {
        font-size: 1.25em;
        margin-bottom: 1rem;
    }

    .inputbox {
        margin: 20px 0;
        margin-bottom: 8px;
        width: 250px;
    }

    .inputbox label {
        top: 40%;
        transform: translateY(-40%);
        font-size: .75em;
    }

    input:focus~label,
    input:valid~label {
        top: -10px;
    }

    .inputbox input {
        height: 2.5em;
        font-size: .85em;
        padding: 0 25px 0 5px;
    }

    .inputbox i {
        top: 10px;
        font-size: 1rem;
    }

    button {
        width: 55%;
        height: 35px;
        font-size: .85em;
    }

    .register {
        font-size: .8em;
    }

    .register p {
        margin-top: .8em;
    }

    .register p a {
        font-size: medium;
    }
}