@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../IMG/fondo3.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

h2 {
    color: #ededed;
    text-align: center;
    margin-bottom: 4rem;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #ededed;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ededed;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #ededed;
}
.inputbox i {
    position: absolute;
    right: 8px;
    color: #ededed;
    font-size: 1.2rem;
    top: 20px;
}

button {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: transparent;
    
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #ededed;
}
button:hover {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .1), 0 0 20px rgba(255, 255, 255, .5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px rgba(237, 237, 237, .3);
}

.register {
    font-size: .9em;
    color: #ededed;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: #ededed;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/* .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#output {
    text-align: center;
} */

.hide{
    display: none;
}